/* UTILITIES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-center {
    align-items: center;
}
.flex-justify {
    justify-content: center;
}

/* ELEMENTS */
#root{
    width: 100vw;
    height: 100vh;
    color: #fff;
}
header{
    width: 100%;
    height: 90px;
    background: #1e2d3b;
}
input {
    margin: 30px;
    border: none;
}
button {
    width: 90px;
    border-radius: 50px;
}
main {
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
    background: #000;
}
.title {
    margin-top: 20px;
}
.product {
    width: 150px;
    height: 320px;
    background: #1e2d3b;
    margin: 30px;

}
.product > ul {
    list-style: none;
}
.product > ul > li {
    margin: 5px 5px 10px 5px;
}
.product > ul > li > i {
    margin-right: 3px;
}
