<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://cdn.jsdelivr.net/npm/vue'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js'></script>
    <link rel='stylesheet' href='css/style.css'>
    <title>Boolflix</title>
</head>
<body>
    <div id='root'>
        <header class='flex flex-center flex-between'>
            <img src="img/logo.png" alt="">
            <div class="search-container">
                <input @keyup.enter='createProductsList' v-model='searchProduct' type="text">
                <button @click='createProductsList'><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </header>
        <main>
            <div class="title flex flex-justify">
                <h2 v-if="exist(movies)">Movies</h2>  
             </div> 
            <div class="container-product flex flex-wrap">
                <div class='product' v-for='movie in movies'>
                    <img v-if="movie.poster_path" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">
                    <img v-else src="img/placeholder.png" alt="">
                    <ul class="back-black">     
                        <li>Titolo: {{movie.title}}</li>
                        <li>Titolo originale: {{movie.original_title}}</li>
                        <li class='flex flex-center'>Lingua originale: 
                            <img v-if='flags.includes(movie.original_language)' :src="'img/' + movie.original_language + '.png'" alt="">
                            <span v-else>{{movie.original_language}}</span>
                        </li>
                        <li>Voto: 
                            <i class="fa fa-star" v-for="n in voteTo5(movie.vote_average)" aria-hidden="true"></i>
                            <i class="fa fa-star-o" v-for="n in 5 - voteTo5(movie.vote_average)" aria-hidden="true"></i>
                        </li>
                        <li>Trama: <br>
                            <span v-if="movie.overview">{{movie.overview}}</span>
                            <span v-else>Non disponibile</span>
                        </li>
                    </ul>
                </div>
             </div> 
             <div class="title flex flex-justify">
                <h2 v-if="exist(tvSeries)">Tv Series</h2>  
             </div> 
            <div class="container-product flex flex-wrap">
                <div class='product' v-for='series in tvSeries'>
                    <img v-if='series.poster_path' :src="'https://image.tmdb.org/t/p/w342' + series.poster_path" alt="">
                    <img v-else src="img/placeholder.png" alt="">
                    <ul>
                        <li>Titolo: {{series.name}}</li>
                        <li>Titolo originale: {{series.original_name}}</li>
                        <li class='flex flex-center'>Lingua originale:
                            <img v-if='flags.includes(series.original_language)' :src="'img/' + series.original_language + '.png'" alt="">
                            <span v-else>{{series.original_language}}</span> </li>
                        <li>Voto: 
                            <i v-for="n in voteTo5(series.vote_average)" class="fa fa-star" aria-hidden="true"></i>
                            <i v-for="n in 5 - voteTo5(series.vote_average)" class="fa fa-star-o" aria-hidden="true"></i>
                        </li>
                        <li>Trama: <br>
                            <span v-if="series.overview">{{series.overview}}</span>
                            <span v-else>Non disponibile</span>
                        </li>
                    </ul>
                </div>
             </div> 
        </main>
    </div>
    <script src='js/script.js' charset='utf-8'></script>
</body>
</html>